:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.2;
  font-weight: 300;

  color-scheme: light rgb(190, 205, 111);
  color: rgba(186, 149, 85, 0.838);
  background-color: rgba(225, 140, 140, 0.589);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.3em;
  line-height: 1.8;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgba(126, 16, 60, 0.689);
}

main{
  max-width: 800px;
  margin: auto;
}

p{
  background-color: rgb(7, 107, 107);
  max-width: 70%;
  padding: 15px;
  border-radius: 50px;
}

p span{
  margin: 5px;
}

p span:first-child{
  margin-right: 0;
}

.user_msg{
  text-align: right;
  margin-left: 30%;
  display: flex;
  flex-direction: row-reverse;
}

.hide {
  visibility: hidden;
  display: none;
}

form{
  text-align: center;
  position: sticky;
  bottom: 0;
}

input{
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgb(228, 133, 158)
}

input:focus{
  outline: none;
}